/**
 * VISUAL STYLES
 */
.selector {
    &-placeholder {
        border: 1px solid gray;
    }

    &-list {
        border: 1px solid gray;
        
        .item {
            background: white;
            transition: .2s;

            &:hover {
                background: rgb(220,220,220);
            }
        }

        &.top {
            border-bottom: none;
        }

        &:not(.top) {
            border-top: none;
        }
    }

    &.disabled {
        background: lightgray;
        opacity: .5;
    }
}


/**
 * POSITION STYLES
 */
.selector {
    position: relative;
    display: flex;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;

    &-placeholder {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 1px;
        box-sizing: border-box;

        &__arrow {
            position: absolute;
            width: 20px;
            right: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
        }
    }

    &-list {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        display: none;
        flex-direction: column;
        z-index: 999;

        & > .item {
            position: relative;
            width: 100%;
            padding-left: 2px;
        }

        &.top {
            top: 0;
            transform: translateY(-100%);
        }
    }

    .item {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }

    &.disabled {
        cursor: default;
    }

    &.opened > .selector-list {
        display: flex;
    }

    &:focus {
        outline: none;
    }
}