
.hinted {
	cursor: default;	
}

.hinted-icon {
	position: relative;
	top: -5px;
	text-decoration: none;
}

@media (pointer: coarse), (hover: none) {
	
	[title] {
		position: relative;
		display: inline-flex;
		justify-content: center;
	}
	
	[title]:focus::after {
		content: attr(title);
		position: absolute;
		top: 90%;
		color: #000;
		background-color: #fff;
		border: 1px solid;
		width: fit-content;
		padding: 3px;
	}
}