@import '../../consts';

.radiogroup {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100%;
	height: 100%;
	user-select: none;

	p {
		display: flex;
		position: relative;
		padding: 2% 2% 2% 2%;
		margin: 0;
	}

	&__items {
		display: flex;
		position: relative;
		
		width: 100%;
		height: 100%;

		label {
			border: 1px solid #FFF334;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			font-size: 12pt;
			padding: 7pt;
			cursor: pointer;
			transition: .3s;

			@include inner-glow-base;

			span {
				position: relative;
				font-size: 14pt;
			}

			input {
				display: none;
			}

			&:hover {
				@include inner-glow;
				background: rgba(255, 255, 255, .7);
			}

			background: rgba(200, 200, 200, .3);
			
			&.selected {
				@include inner-glow-deep;
				background: white;
			}

			&:last-child {
				border-radius: 0 10px 10px 0;
			}

			&:first-child {
				border-radius: 10px 0 0 10px;
			}
		}
	}
}