.popup-bg {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.85);
}

.popup {
	position: relative;
	display: flex;
	width: fit-content;
	height: fit-content;
	//padding: 15px;
	border-radius: 15px;

	background: white;

	&__close-btn {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 8pt;
		height: 8pt;
		font-size: 18pt;
		cursor: pointer;

		right: 10px;
		top: 10px;

		transition: transform .2s;

		&:hover {
			transform: scale(1.5);
		}
	}
}
