
.itemTable {
    position: relative;
    width: 100%;
    height: 100%;

    display: inline-grid;
    row-gap: 1.5em;
    padding: 1%;
    column-gap: 1%;
    //grid-template-rows: 21% 21% 21% 12.5% 12.5%;
    //grid-template-columns: 31.6% 31.6% 31.6%;

    overflow-y: scroll;
    overflow-x: visible;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
        //border-radius: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #313131;
    }
}
