
.icon {
    position: relative;
}

.subIcon {
    position: absolute !important;
    right: 0;
    top: -10%;
    width: max-content;
    height: max-content;

    background: rgba(255, 255, 255, .8);
    border-radius: 5%;

    &:before {
        position: absolute;
    }

    &.topLeft {
        top: 0;
        left: 0;
    }

    &.bottomLeft {
        bottom: 0;
        left: 0;
    }

    &.topRight {
        top: 0;
        right: 0;
    }

    &.bottomRight {
        bottom: 0;
        right: 0;
    }

    &.overflow {
        display: flex;
        justify-content: center;
        align-items: center;

        background: none;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
