.loading-bg {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    
    animation: deadline-loading 1s normal forwards;
    z-index: -1;
}

@keyframes deadline-loading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
