
.preloader {
    position: relative;
    background: transparent;

    & > *:before {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: xxx-large;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        background: transparent;

        animation-name: rotate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
