$icomoon-font-family: "font-icon" !default;
$icomoon-font-path: "fonts" !default;

$f-icon-home: "\e900";
$f-icon-home2: "\e901";
$f-icon-home3: "\e902";
$f-icon-office: "\e903";
$f-icon-newspaper: "\e904";
$f-icon-pencil: "\e905";
$f-icon-pencil2: "\e906";
$f-icon-quill: "\e907";
$f-icon-pen: "\e908";
$f-icon-blog: "\e909";
$f-icon-eyedropper: "\e90a";
$f-icon-droplet: "\e90b";
$f-icon-paint-format: "\e90c";
$f-icon-image: "\e90d";
$f-icon-images: "\e90e";
$f-icon-camera: "\e90f";
$f-icon-headphones: "\e910";
$f-icon-music: "\e911";
$f-icon-play: "\e912";
$f-icon-film: "\e913";
$f-icon-video-camera: "\e914";
$f-icon-dice: "\e915";
$f-icon-pacman: "\e916";
$f-icon-spades: "\e917";
$f-icon-clubs: "\e918";
$f-icon-diamonds: "\e919";
$f-icon-bullhorn: "\e91a";
$f-icon-connection: "\e91b";
$f-icon-podcast: "\e91c";
$f-icon-feed: "\e91d";
$f-icon-mic: "\e91e";
$f-icon-book: "\e91f";
$f-icon-books: "\e920";
$f-icon-library: "\e921";
$f-icon-file-text: "\e922";
$f-icon-profile: "\e923";
$f-icon-file-empty: "\e924";
$f-icon-files-empty: "\e925";
$f-icon-file-text2: "\e926";
$f-icon-file-picture: "\e927";
$f-icon-file-music: "\e928";
$f-icon-file-play: "\e929";
$f-icon-file-video: "\e92a";
$f-icon-file-zip: "\e92b";
$f-icon-copy: "\e92c";
$f-icon-paste: "\e92d";
$f-icon-stack: "\e92e";
$f-icon-folder: "\e92f";
$f-icon-folder-open: "\e930";
$f-icon-folder-plus: "\e931";
$f-icon-folder-minus: "\e932";
$f-icon-folder-download: "\e933";
$f-icon-folder-upload: "\e934";
$f-icon-price-tag: "\e935";
$f-icon-price-tags: "\e936";
$f-icon-barcode: "\e937";
$f-icon-qrcode: "\e938";
$f-icon-ticket: "\e939";
$f-icon-cart: "\e93a";
$f-icon-coin-dollar: "\e93b";
$f-icon-coin-euro: "\e93c";
$f-icon-coin-pound: "\e93d";
$f-icon-coin-yen: "\e93e";
$f-icon-credit-card: "\e93f";
$f-icon-calculator: "\e940";
$f-icon-lifebuoy: "\e941";
$f-icon-phone: "\e942";
$f-icon-phone-hang-up: "\e943";
$f-icon-address-book: "\e944";
$f-icon-envelop: "\e945";
$f-icon-pushpin: "\e946";
$f-icon-location: "\e947";
$f-icon-location2: "\e948";
$f-icon-compass: "\e949";
$f-icon-compass2: "\e94a";
$f-icon-map: "\e94b";
$f-icon-map2: "\e94c";
$f-icon-history: "\e94d";
$f-icon-clock: "\e94e";
$f-icon-clock2: "\e94f";
$f-icon-alarm: "\e950";
$f-icon-bell: "\e951";
$f-icon-stopwatch: "\e952";
$f-icon-calendar: "\e953";
$f-icon-printer: "\e954";
$f-icon-keyboard: "\e955";
$f-icon-display: "\e956";
$f-icon-laptop: "\e957";
$f-icon-mobile: "\e958";
$f-icon-mobile2: "\e959";
$f-icon-tablet: "\e95a";
$f-icon-tv: "\e95b";
$f-icon-drawer: "\e95c";
$f-icon-drawer2: "\e95d";
$f-icon-box-add: "\e95e";
$f-icon-box-remove: "\e95f";
$f-icon-download: "\e960";
$f-icon-upload: "\e961";
$f-icon-floppy-disk: "\e962";
$f-icon-drive: "\e963";
$f-icon-database: "\e964";
$f-icon-undo: "\e965";
$f-icon-redo: "\e966";
$f-icon-undo2: "\e967";
$f-icon-redo2: "\e968";
$f-icon-forward: "\e969";
$f-icon-reply: "\e96a";
$f-icon-bubble: "\e96b";
$f-icon-bubbles: "\e96c";
$f-icon-bubbles2: "\e96d";
$f-icon-bubble2: "\e96e";
$f-icon-bubbles3: "\e96f";
$f-icon-bubbles4: "\e970";
$f-icon-user: "\e971";
$f-icon-users: "\e972";
$f-icon-user-plus: "\e973";
$f-icon-user-minus: "\e974";
$f-icon-user-check: "\e975";
$f-icon-user-tie: "\e976";
$f-icon-quotes-left: "\e977";
$f-icon-quotes-right: "\e978";
$f-icon-hour-glass: "\e979";
$f-icon-spinner: "\e97a";
$f-icon-spinner2: "\e97b";
$f-icon-spinner3: "\e97c";
$f-icon-spinner4: "\e97d";
$f-icon-spinner5: "\e97e";
$f-icon-spinner6: "\e97f";
$f-icon-spinner7: "\e980";
$f-icon-spinner8: "\e981";
$f-icon-spinner9: "\e982";
$f-icon-spinner10: "\e983";
$f-icon-spinner11: "\e984";
$f-icon-binoculars: "\e985";
$f-icon-search: "\e986";
$f-icon-zoom-in: "\e987";
$f-icon-zoom-out: "\e988";
$f-icon-enlarge: "\e989";
$f-icon-shrink: "\e98a";
$f-icon-enlarge2: "\e98b";
$f-icon-shrink2: "\e98c";
$f-icon-key: "\e98d";
$f-icon-key2: "\e98e";
$f-icon-lock: "\e98f";
$f-icon-unlocked: "\e990";
$f-icon-wrench: "\e991";
$f-icon-equalizer: "\e992";
$f-icon-equalizer2: "\e993";
$f-icon-cog: "\e994";
$f-icon-cogs: "\e995";
$f-icon-hammer: "\e996";
$f-icon-magic-wand: "\e997";
$f-icon-aid-kit: "\e998";
$f-icon-bug: "\e999";
$f-icon-pie-chart: "\e99a";
$f-icon-stats-dots: "\e99b";
$f-icon-stats-bars: "\e99c";
$f-icon-stats-bars2: "\e99d";
$f-icon-trophy: "\e99e";
$f-icon-gift: "\e99f";
$f-icon-glass: "\e9a0";
$f-icon-glass2: "\e9a1";
$f-icon-mug: "\e9a2";
$f-icon-spoon-knife: "\e9a3";
$f-icon-leaf: "\e9a4";
$f-icon-rocket: "\e9a5";
$f-icon-meter: "\e9a6";
$f-icon-meter2: "\e9a7";
$f-icon-hammer2: "\e9a8";
$f-icon-fire: "\e9a9";
$f-icon-lab: "\e9aa";
$f-icon-magnet: "\e9ab";
$f-icon-bin: "\e9ac";
$f-icon-bin2: "\e9ad";
$f-icon-briefcase: "\e9ae";
$f-icon-airplane: "\e9af";
$f-icon-truck: "\e9b0";
$f-icon-road: "\e9b1";
$f-icon-accessibility: "\e9b2";
$f-icon-target: "\e9b3";
$f-icon-shield: "\e9b4";
$f-icon-power: "\e9b5";
$f-icon-switch: "\e9b6";
$f-icon-power-cord: "\e9b7";
$f-icon-clipboard: "\e9b8";
$f-icon-list-numbered: "\e9b9";
$f-icon-list: "\e9ba";
$f-icon-list2: "\e9bb";
$f-icon-tree: "\e9bc";
$f-icon-menu: "\e9bd";
$f-icon-menu2: "\e9be";
$f-icon-menu3: "\e9bf";
$f-icon-menu4: "\e9c0";
$f-icon-cloud: "\e9c1";
$f-icon-cloud-download: "\e9c2";
$f-icon-cloud-upload: "\e9c3";
$f-icon-cloud-check: "\e9c4";
$f-icon-download2: "\e9c5";
$f-icon-upload2: "\e9c6";
$f-icon-download3: "\e9c7";
$f-icon-upload3: "\e9c8";
$f-icon-sphere: "\e9c9";
$f-icon-earth: "\e9ca";
$f-icon-link: "\e9cb";
$f-icon-flag: "\e9cc";
$f-icon-attachment: "\e9cd";
$f-icon-eye: "\e9ce";
$f-icon-eye-plus: "\e9cf";
$f-icon-eye-minus: "\e9d0";
$f-icon-eye-blocked: "\e9d1";
$f-icon-bookmark: "\e9d2";
$f-icon-bookmarks: "\e9d3";
$f-icon-sun: "\e9d4";
$f-icon-contrast: "\e9d5";
$f-icon-brightness-contrast: "\e9d6";
$f-icon-star-empty: "\e9d7";
$f-icon-star-half: "\e9d8";
$f-icon-star-full: "\e9d9";
$f-icon-heart: "\e9da";
$f-icon-heart-broken: "\e9db";
$f-icon-man: "\e9dc";
$f-icon-woman: "\e9dd";
$f-icon-man-woman: "\e9de";
$f-icon-happy: "\e9df";
$f-icon-happy2: "\e9e0";
$f-icon-smile: "\e9e1";
$f-icon-smile2: "\e9e2";
$f-icon-tongue: "\e9e3";
$f-icon-tongue2: "\e9e4";
$f-icon-sad: "\e9e5";
$f-icon-sad2: "\e9e6";
$f-icon-wink: "\e9e7";
$f-icon-wink2: "\e9e8";
$f-icon-grin: "\e9e9";
$f-icon-grin2: "\e9ea";
$f-icon-cool: "\e9eb";
$f-icon-cool2: "\e9ec";
$f-icon-angry: "\e9ed";
$f-icon-angry2: "\e9ee";
$f-icon-evil: "\e9ef";
$f-icon-evil2: "\e9f0";
$f-icon-shocked: "\e9f1";
$f-icon-shocked2: "\e9f2";
$f-icon-baffled: "\e9f3";
$f-icon-baffled2: "\e9f4";
$f-icon-confused: "\e9f5";
$f-icon-confused2: "\e9f6";
$f-icon-neutral: "\e9f7";
$f-icon-neutral2: "\e9f8";
$f-icon-hipster: "\e9f9";
$f-icon-hipster2: "\e9fa";
$f-icon-wondering: "\e9fb";
$f-icon-wondering2: "\e9fc";
$f-icon-sleepy: "\e9fd";
$f-icon-sleepy2: "\e9fe";
$f-icon-frustrated: "\e9ff";
$f-icon-frustrated2: "\ea00";
$f-icon-crying: "\ea01";
$f-icon-crying2: "\ea02";
$f-icon-point-up: "\ea03";
$f-icon-point-right: "\ea04";
$f-icon-point-down: "\ea05";
$f-icon-point-left: "\ea06";
$f-icon-warning: "\ea07";
$f-icon-notification: "\ea08";
$f-icon-question: "\ea09";
$f-icon-plus: "\ea0a";
$f-icon-minus: "\ea0b";
$f-icon-info: "\ea0c";
$f-icon-cancel-circle: "\ea0d";
$f-icon-blocked: "\ea0e";
$f-icon-cross: "\ea0f";
$f-icon-checkmark: "\ea10";
$f-icon-checkmark2: "\ea11";
$f-icon-spell-check: "\ea12";
$f-icon-enter: "\ea13";
$f-icon-exit: "\ea14";
$f-icon-play2: "\ea15";
$f-icon-pause: "\ea16";
$f-icon-stop: "\ea17";
$f-icon-previous: "\ea18";
$f-icon-next: "\ea19";
$f-icon-backward: "\ea1a";
$f-icon-forward2: "\ea1b";
$f-icon-play3: "\ea1c";
$f-icon-pause2: "\ea1d";
$f-icon-stop2: "\ea1e";
$f-icon-backward2: "\ea1f";
$f-icon-forward3: "\ea20";
$f-icon-first: "\ea21";
$f-icon-last: "\ea22";
$f-icon-previous2: "\ea23";
$f-icon-next2: "\ea24";
$f-icon-eject: "\ea25";
$f-icon-volume-high: "\ea26";
$f-icon-volume-medium: "\ea27";
$f-icon-volume-low: "\ea28";
$f-icon-volume-mute: "\ea29";
$f-icon-volume-mute2: "\ea2a";
$f-icon-volume-increase: "\ea2b";
$f-icon-volume-decrease: "\ea2c";
$f-icon-loop: "\ea2d";
$f-icon-loop2: "\ea2e";
$f-icon-infinite: "\ea2f";
$f-icon-shuffle: "\ea30";
$f-icon-arrow-up-left: "\ea31";
$f-icon-arrow-up: "\ea32";
$f-icon-arrow-up-right: "\ea33";
$f-icon-arrow-right: "\ea34";
$f-icon-arrow-down-right: "\ea35";
$f-icon-arrow-down: "\ea36";
$f-icon-arrow-down-left: "\ea37";
$f-icon-arrow-left: "\ea38";
$f-icon-arrow-up-left2: "\ea39";
$f-icon-arrow-up2: "\ea3a";
$f-icon-arrow-up-right2: "\ea3b";
$f-icon-arrow-right2: "\ea3c";
$f-icon-arrow-down-right2: "\ea3d";
$f-icon-arrow-down2: "\ea3e";
$f-icon-arrow-down-left2: "\ea3f";
$f-icon-arrow-left2: "\ea40";
$f-icon-circle-up: "\ea41";
$f-icon-circle-right: "\ea42";
$f-icon-circle-down: "\ea43";
$f-icon-circle-left: "\ea44";
$f-icon-tab: "\ea45";
$f-icon-move-up: "\ea46";
$f-icon-move-down: "\ea47";
$f-icon-sort-alpha-asc: "\ea48";
$f-icon-sort-alpha-desc: "\ea49";
$f-icon-sort-numeric-asc: "\ea4a";
$f-icon-sort-numberic-desc: "\ea4b";
$f-icon-sort-amount-asc: "\ea4c";
$f-icon-sort-amount-desc: "\ea4d";
$f-icon-command: "\ea4e";
$f-icon-shift: "\ea4f";
$f-icon-ctrl: "\ea50";
$f-icon-opt: "\ea51";
$f-icon-checkbox-checked: "\ea52";
$f-icon-checkbox-unchecked: "\ea53";
$f-icon-radio-checked: "\ea54";
$f-icon-radio-checked2: "\ea55";
$f-icon-radio-unchecked: "\ea56";
$f-icon-crop: "\ea57";
$f-icon-make-group: "\ea58";
$f-icon-ungroup: "\ea59";
$f-icon-scissors: "\ea5a";
$f-icon-filter: "\ea5b";
$f-icon-font: "\ea5c";
$f-icon-ligature: "\ea5d";
$f-icon-ligature2: "\ea5e";
$f-icon-text-height: "\ea5f";
$f-icon-text-width: "\ea60";
$f-icon-font-size: "\ea61";
$f-icon-bold: "\ea62";
$f-icon-underline: "\ea63";
$f-icon-italic: "\ea64";
$f-icon-strikethrough: "\ea65";
$f-icon-omega: "\ea66";
$f-icon-sigma: "\ea67";
$f-icon-page-break: "\ea68";
$f-icon-superscript: "\ea69";
$f-icon-subscript: "\ea6a";
$f-icon-superscript2: "\ea6b";
$f-icon-subscript2: "\ea6c";
$f-icon-text-color: "\ea6d";
$f-icon-pagebreak: "\ea6e";
$f-icon-clear-formatting: "\ea6f";
$f-icon-table: "\ea70";
$f-icon-table2: "\ea71";
$f-icon-insert-template: "\ea72";
$f-icon-pilcrow: "\ea73";
$f-icon-ltr: "\ea74";
$f-icon-rtl: "\ea75";
$f-icon-section: "\ea76";
$f-icon-paragraph-left: "\ea77";
$f-icon-paragraph-center: "\ea78";
$f-icon-paragraph-right: "\ea79";
$f-icon-paragraph-justify: "\ea7a";
$f-icon-indent-increase: "\ea7b";
$f-icon-indent-decrease: "\ea7c";
$f-icon-share: "\ea7d";
$f-icon-new-tab: "\ea7e";
$f-icon-embed: "\ea7f";
$f-icon-embed2: "\ea80";
$f-icon-terminal: "\ea81";
$f-icon-share2: "\ea82";
$f-icon-mail: "\ea83";
$f-icon-mail2: "\ea84";
$f-icon-mail3: "\ea85";
$f-icon-mail4: "\ea86";
$f-icon-amazon: "\ea87";
$f-icon-google: "\ea88";
$f-icon-google2: "\ea89";
$f-icon-google3: "\ea8a";
$f-icon-google-plus: "\ea8b";
$f-icon-google-plus2: "\ea8c";
$f-icon-google-plus3: "\ea8d";
$f-icon-hangouts: "\ea8e";
$f-icon-google-drive: "\ea8f";
$f-icon-facebook: "\ea90";
$f-icon-facebook2: "\ea91";
$f-icon-instagram: "\ea92";
$f-icon-whatsapp: "\ea93";
$f-icon-spotify: "\ea94";
$f-icon-telegram: "\ea95";
$f-icon-twitter: "\ea96";
$f-icon-vine: "\ea97";
$f-icon-vk: "\ea98";
$f-icon-renren: "\ea99";
$f-icon-sina-weibo: "\ea9a";
$f-icon-rss: "\ea9b";
$f-icon-rss2: "\ea9c";
$f-icon-youtube: "\ea9d";
$f-icon-youtube2: "\ea9e";
$f-icon-twitch: "\ea9f";
$f-icon-vimeo: "\eaa0";
$f-icon-vimeo2: "\eaa1";
$f-icon-lanyrd: "\eaa2";
$f-icon-flickr: "\eaa3";
$f-icon-flickr2: "\eaa4";
$f-icon-flickr3: "\eaa5";
$f-icon-flickr4: "\eaa6";
$f-icon-dribbble: "\eaa7";
$f-icon-behance: "\eaa8";
$f-icon-behance2: "\eaa9";
$f-icon-deviantart: "\eaaa";
$f-icon-500px: "\eaab";
$f-icon-steam: "\eaac";
$f-icon-steam2: "\eaad";
$f-icon-dropbox: "\eaae";
$f-icon-onedrive: "\eaaf";
$f-icon-github: "\eab0";
$f-icon-npm: "\eab1";
$f-icon-basecamp: "\eab2";
$f-icon-trello: "\eab3";
$f-icon-wordpress: "\eab4";
$f-icon-joomla: "\eab5";
$f-icon-ello: "\eab6";
$f-icon-blogger: "\eab7";
$f-icon-blogger2: "\eab8";
$f-icon-tumblr: "\eab9";
$f-icon-tumblr2: "\eaba";
$f-icon-yahoo: "\eabb";
$f-icon-yahoo2: "\eabc";
$f-icon-tux: "\eabd";
$f-icon-appleinc: "\eabe";
$f-icon-finder: "\eabf";
$f-icon-android: "\eac0";
$f-icon-windows: "\eac1";
$f-icon-windows8: "\eac2";
$f-icon-soundcloud: "\eac3";
$f-icon-soundcloud2: "\eac4";
$f-icon-skype: "\eac5";
$f-icon-reddit: "\eac6";
$f-icon-hackernews: "\eac7";
$f-icon-wikipedia: "\eac8";
$f-icon-linkedin: "\eac9";
$f-icon-linkedin2: "\eaca";
$f-icon-lastfm: "\eacb";
$f-icon-lastfm2: "\eacc";
$f-icon-delicious: "\eacd";
$f-icon-stumbleupon: "\eace";
$f-icon-stumbleupon2: "\eacf";
$f-icon-stackoverflow: "\ead0";
$f-icon-pinterest: "\ead1";
$f-icon-pinterest2: "\ead2";
$f-icon-xing: "\ead3";
$f-icon-xing2: "\ead4";
$f-icon-flattr: "\ead5";
$f-icon-foursquare: "\ead6";
$f-icon-yelp: "\ead7";
$f-icon-paypal: "\ead8";
$f-icon-chrome: "\ead9";
$f-icon-firefox: "\eada";
$f-icon-IE: "\eadb";
$f-icon-edge: "\eadc";
$f-icon-safari: "\eadd";
$f-icon-opera: "\eade";
$f-icon-file-pdf: "\eadf";
$f-icon-file-openoffice: "\eae0";
$f-icon-file-word: "\eae1";
$f-icon-file-excel: "\eae2";
$f-icon-libreoffice: "\eae3";
$f-icon-html-five: "\eae4";
$f-icon-html-five2: "\eae5";
$f-icon-css3: "\eae6";
$f-icon-git: "\eae7";
$f-icon-codepen: "\eae8";
$f-icon-svg: "\eae9";
$f-icon-IcoMoon: "\eaea";

