@import "font-variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?t90wmq');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?t90wmq#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?t90wmq') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?t90wmq') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?t90wmq##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="f-icon-"], [class*=" f-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.f-icon-home {
  &:before {
    content: $f-icon-home; 
  }
}
.f-icon-home2 {
  &:before {
    content: $f-icon-home2; 
  }
}
.f-icon-home3 {
  &:before {
    content: $f-icon-home3; 
  }
}
.f-icon-office {
  &:before {
    content: $f-icon-office; 
  }
}
.f-icon-newspaper {
  &:before {
    content: $f-icon-newspaper; 
  }
}
.f-icon-pencil {
  &:before {
    content: $f-icon-pencil; 
  }
}
.f-icon-pencil2 {
  &:before {
    content: $f-icon-pencil2; 
  }
}
.f-icon-quill {
  &:before {
    content: $f-icon-quill; 
  }
}
.f-icon-pen {
  &:before {
    content: $f-icon-pen; 
  }
}
.f-icon-blog {
  &:before {
    content: $f-icon-blog; 
  }
}
.f-icon-eyedropper {
  &:before {
    content: $f-icon-eyedropper; 
  }
}
.f-icon-droplet {
  &:before {
    content: $f-icon-droplet; 
  }
}
.f-icon-paint-format {
  &:before {
    content: $f-icon-paint-format; 
  }
}
.f-icon-image {
  &:before {
    content: $f-icon-image; 
  }
}
.f-icon-images {
  &:before {
    content: $f-icon-images; 
  }
}
.f-icon-camera {
  &:before {
    content: $f-icon-camera; 
  }
}
.f-icon-headphones {
  &:before {
    content: $f-icon-headphones; 
  }
}
.f-icon-music {
  &:before {
    content: $f-icon-music; 
  }
}
.f-icon-play {
  &:before {
    content: $f-icon-play; 
  }
}
.f-icon-film {
  &:before {
    content: $f-icon-film; 
  }
}
.f-icon-video-camera {
  &:before {
    content: $f-icon-video-camera; 
  }
}
.f-icon-dice {
  &:before {
    content: $f-icon-dice; 
  }
}
.f-icon-pacman {
  &:before {
    content: $f-icon-pacman; 
  }
}
.f-icon-spades {
  &:before {
    content: $f-icon-spades; 
  }
}
.f-icon-clubs {
  &:before {
    content: $f-icon-clubs; 
  }
}
.f-icon-diamonds {
  &:before {
    content: $f-icon-diamonds; 
  }
}
.f-icon-bullhorn {
  &:before {
    content: $f-icon-bullhorn; 
  }
}
.f-icon-connection {
  &:before {
    content: $f-icon-connection; 
  }
}
.f-icon-podcast {
  &:before {
    content: $f-icon-podcast; 
  }
}
.f-icon-feed {
  &:before {
    content: $f-icon-feed; 
  }
}
.f-icon-mic {
  &:before {
    content: $f-icon-mic; 
  }
}
.f-icon-book {
  &:before {
    content: $f-icon-book; 
  }
}
.f-icon-books {
  &:before {
    content: $f-icon-books; 
  }
}
.f-icon-library {
  &:before {
    content: $f-icon-library; 
  }
}
.f-icon-file-text {
  &:before {
    content: $f-icon-file-text; 
  }
}
.f-icon-profile {
  &:before {
    content: $f-icon-profile; 
  }
}
.f-icon-file-empty {
  &:before {
    content: $f-icon-file-empty; 
  }
}
.f-icon-files-empty {
  &:before {
    content: $f-icon-files-empty; 
  }
}
.f-icon-file-text2 {
  &:before {
    content: $f-icon-file-text2; 
  }
}
.f-icon-file-picture {
  &:before {
    content: $f-icon-file-picture; 
  }
}
.f-icon-file-music {
  &:before {
    content: $f-icon-file-music; 
  }
}
.f-icon-file-play {
  &:before {
    content: $f-icon-file-play; 
  }
}
.f-icon-file-video {
  &:before {
    content: $f-icon-file-video; 
  }
}
.f-icon-file-zip {
  &:before {
    content: $f-icon-file-zip; 
  }
}
.f-icon-copy {
  &:before {
    content: $f-icon-copy; 
  }
}
.f-icon-paste {
  &:before {
    content: $f-icon-paste; 
  }
}
.f-icon-stack {
  &:before {
    content: $f-icon-stack; 
  }
}
.f-icon-folder {
  &:before {
    content: $f-icon-folder; 
  }
}
.f-icon-folder-open {
  &:before {
    content: $f-icon-folder-open; 
  }
}
.f-icon-folder-plus {
  &:before {
    content: $f-icon-folder-plus; 
  }
}
.f-icon-folder-minus {
  &:before {
    content: $f-icon-folder-minus; 
  }
}
.f-icon-folder-download {
  &:before {
    content: $f-icon-folder-download; 
  }
}
.f-icon-folder-upload {
  &:before {
    content: $f-icon-folder-upload; 
  }
}
.f-icon-price-tag {
  &:before {
    content: $f-icon-price-tag; 
  }
}
.f-icon-price-tags {
  &:before {
    content: $f-icon-price-tags; 
  }
}
.f-icon-barcode {
  &:before {
    content: $f-icon-barcode; 
  }
}
.f-icon-qrcode {
  &:before {
    content: $f-icon-qrcode; 
  }
}
.f-icon-ticket {
  &:before {
    content: $f-icon-ticket; 
  }
}
.f-icon-cart {
  &:before {
    content: $f-icon-cart; 
  }
}
.f-icon-coin-dollar {
  &:before {
    content: $f-icon-coin-dollar; 
  }
}
.f-icon-coin-euro {
  &:before {
    content: $f-icon-coin-euro; 
  }
}
.f-icon-coin-pound {
  &:before {
    content: $f-icon-coin-pound; 
  }
}
.f-icon-coin-yen {
  &:before {
    content: $f-icon-coin-yen; 
  }
}
.f-icon-credit-card {
  &:before {
    content: $f-icon-credit-card; 
  }
}
.f-icon-calculator {
  &:before {
    content: $f-icon-calculator; 
  }
}
.f-icon-lifebuoy {
  &:before {
    content: $f-icon-lifebuoy; 
  }
}
.f-icon-phone {
  &:before {
    content: $f-icon-phone; 
  }
}
.f-icon-phone-hang-up {
  &:before {
    content: $f-icon-phone-hang-up; 
  }
}
.f-icon-address-book {
  &:before {
    content: $f-icon-address-book; 
  }
}
.f-icon-envelop {
  &:before {
    content: $f-icon-envelop; 
  }
}
.f-icon-pushpin {
  &:before {
    content: $f-icon-pushpin; 
  }
}
.f-icon-location {
  &:before {
    content: $f-icon-location; 
  }
}
.f-icon-location2 {
  &:before {
    content: $f-icon-location2; 
  }
}
.f-icon-compass {
  &:before {
    content: $f-icon-compass; 
  }
}
.f-icon-compass2 {
  &:before {
    content: $f-icon-compass2; 
  }
}
.f-icon-map {
  &:before {
    content: $f-icon-map; 
  }
}
.f-icon-map2 {
  &:before {
    content: $f-icon-map2; 
  }
}
.f-icon-history {
  &:before {
    content: $f-icon-history; 
  }
}
.f-icon-clock {
  &:before {
    content: $f-icon-clock; 
  }
}
.f-icon-clock2 {
  &:before {
    content: $f-icon-clock2; 
  }
}
.f-icon-alarm {
  &:before {
    content: $f-icon-alarm; 
  }
}
.f-icon-bell {
  &:before {
    content: $f-icon-bell; 
  }
}
.f-icon-stopwatch {
  &:before {
    content: $f-icon-stopwatch; 
  }
}
.f-icon-calendar {
  &:before {
    content: $f-icon-calendar; 
  }
}
.f-icon-printer {
  &:before {
    content: $f-icon-printer; 
  }
}
.f-icon-keyboard {
  &:before {
    content: $f-icon-keyboard; 
  }
}
.f-icon-display {
  &:before {
    content: $f-icon-display; 
  }
}
.f-icon-laptop {
  &:before {
    content: $f-icon-laptop; 
  }
}
.f-icon-mobile {
  &:before {
    content: $f-icon-mobile; 
  }
}
.f-icon-mobile2 {
  &:before {
    content: $f-icon-mobile2; 
  }
}
.f-icon-tablet {
  &:before {
    content: $f-icon-tablet; 
  }
}
.f-icon-tv {
  &:before {
    content: $f-icon-tv; 
  }
}
.f-icon-drawer {
  &:before {
    content: $f-icon-drawer; 
  }
}
.f-icon-drawer2 {
  &:before {
    content: $f-icon-drawer2; 
  }
}
.f-icon-box-add {
  &:before {
    content: $f-icon-box-add; 
  }
}
.f-icon-box-remove {
  &:before {
    content: $f-icon-box-remove; 
  }
}
.f-icon-download {
  &:before {
    content: $f-icon-download; 
  }
}
.f-icon-upload {
  &:before {
    content: $f-icon-upload; 
  }
}
.f-icon-floppy-disk {
  &:before {
    content: $f-icon-floppy-disk; 
  }
}
.f-icon-drive {
  &:before {
    content: $f-icon-drive; 
  }
}
.f-icon-database {
  &:before {
    content: $f-icon-database; 
  }
}
.f-icon-undo {
  &:before {
    content: $f-icon-undo; 
  }
}
.f-icon-redo {
  &:before {
    content: $f-icon-redo; 
  }
}
.f-icon-undo2 {
  &:before {
    content: $f-icon-undo2; 
  }
}
.f-icon-redo2 {
  &:before {
    content: $f-icon-redo2; 
  }
}
.f-icon-forward {
  &:before {
    content: $f-icon-forward; 
  }
}
.f-icon-reply {
  &:before {
    content: $f-icon-reply; 
  }
}
.f-icon-bubble {
  &:before {
    content: $f-icon-bubble; 
  }
}
.f-icon-bubbles {
  &:before {
    content: $f-icon-bubbles; 
  }
}
.f-icon-bubbles2 {
  &:before {
    content: $f-icon-bubbles2; 
  }
}
.f-icon-bubble2 {
  &:before {
    content: $f-icon-bubble2; 
  }
}
.f-icon-bubbles3 {
  &:before {
    content: $f-icon-bubbles3; 
  }
}
.f-icon-bubbles4 {
  &:before {
    content: $f-icon-bubbles4; 
  }
}
.f-icon-user {
  &:before {
    content: $f-icon-user; 
  }
}
.f-icon-users {
  &:before {
    content: $f-icon-users; 
  }
}
.f-icon-user-plus {
  &:before {
    content: $f-icon-user-plus; 
  }
}
.f-icon-user-minus {
  &:before {
    content: $f-icon-user-minus; 
  }
}
.f-icon-user-check {
  &:before {
    content: $f-icon-user-check; 
  }
}
.f-icon-user-tie {
  &:before {
    content: $f-icon-user-tie; 
  }
}
.f-icon-quotes-left {
  &:before {
    content: $f-icon-quotes-left; 
  }
}
.f-icon-quotes-right {
  &:before {
    content: $f-icon-quotes-right; 
  }
}
.f-icon-hour-glass {
  &:before {
    content: $f-icon-hour-glass; 
  }
}
.f-icon-spinner {
  &:before {
    content: $f-icon-spinner; 
  }
}
.f-icon-spinner2 {
  &:before {
    content: $f-icon-spinner2; 
  }
}
.f-icon-spinner3 {
  &:before {
    content: $f-icon-spinner3; 
  }
}
.f-icon-spinner4 {
  &:before {
    content: $f-icon-spinner4; 
  }
}
.f-icon-spinner5 {
  &:before {
    content: $f-icon-spinner5; 
  }
}
.f-icon-spinner6 {
  &:before {
    content: $f-icon-spinner6; 
  }
}
.f-icon-spinner7 {
  &:before {
    content: $f-icon-spinner7; 
  }
}
.f-icon-spinner8 {
  &:before {
    content: $f-icon-spinner8; 
  }
}
.f-icon-spinner9 {
  &:before {
    content: $f-icon-spinner9; 
  }
}
.f-icon-spinner10 {
  &:before {
    content: $f-icon-spinner10; 
  }
}
.f-icon-spinner11 {
  &:before {
    content: $f-icon-spinner11; 
  }
}
.f-icon-binoculars {
  &:before {
    content: $f-icon-binoculars; 
  }
}
.f-icon-search {
  &:before {
    content: $f-icon-search; 
  }
}
.f-icon-zoom-in {
  &:before {
    content: $f-icon-zoom-in; 
  }
}
.f-icon-zoom-out {
  &:before {
    content: $f-icon-zoom-out; 
  }
}
.f-icon-enlarge {
  &:before {
    content: $f-icon-enlarge; 
  }
}
.f-icon-shrink {
  &:before {
    content: $f-icon-shrink; 
  }
}
.f-icon-enlarge2 {
  &:before {
    content: $f-icon-enlarge2; 
  }
}
.f-icon-shrink2 {
  &:before {
    content: $f-icon-shrink2; 
  }
}
.f-icon-key {
  &:before {
    content: $f-icon-key; 
  }
}
.f-icon-key2 {
  &:before {
    content: $f-icon-key2; 
  }
}
.f-icon-lock {
  &:before {
    content: $f-icon-lock; 
  }
}
.f-icon-unlocked {
  &:before {
    content: $f-icon-unlocked; 
  }
}
.f-icon-wrench {
  &:before {
    content: $f-icon-wrench; 
  }
}
.f-icon-equalizer {
  &:before {
    content: $f-icon-equalizer; 
  }
}
.f-icon-equalizer2 {
  &:before {
    content: $f-icon-equalizer2; 
  }
}
.f-icon-cog {
  &:before {
    content: $f-icon-cog; 
  }
}
.f-icon-cogs {
  &:before {
    content: $f-icon-cogs; 
  }
}
.f-icon-hammer {
  &:before {
    content: $f-icon-hammer; 
  }
}
.f-icon-magic-wand {
  &:before {
    content: $f-icon-magic-wand; 
  }
}
.f-icon-aid-kit {
  &:before {
    content: $f-icon-aid-kit; 
  }
}
.f-icon-bug {
  &:before {
    content: $f-icon-bug; 
  }
}
.f-icon-pie-chart {
  &:before {
    content: $f-icon-pie-chart; 
  }
}
.f-icon-stats-dots {
  &:before {
    content: $f-icon-stats-dots; 
  }
}
.f-icon-stats-bars {
  &:before {
    content: $f-icon-stats-bars; 
  }
}
.f-icon-stats-bars2 {
  &:before {
    content: $f-icon-stats-bars2; 
  }
}
.f-icon-trophy {
  &:before {
    content: $f-icon-trophy; 
  }
}
.f-icon-gift {
  &:before {
    content: $f-icon-gift; 
  }
}
.f-icon-glass {
  &:before {
    content: $f-icon-glass; 
  }
}
.f-icon-glass2 {
  &:before {
    content: $f-icon-glass2; 
  }
}
.f-icon-mug {
  &:before {
    content: $f-icon-mug; 
  }
}
.f-icon-spoon-knife {
  &:before {
    content: $f-icon-spoon-knife; 
  }
}
.f-icon-leaf {
  &:before {
    content: $f-icon-leaf; 
  }
}
.f-icon-rocket {
  &:before {
    content: $f-icon-rocket; 
  }
}
.f-icon-meter {
  &:before {
    content: $f-icon-meter; 
  }
}
.f-icon-meter2 {
  &:before {
    content: $f-icon-meter2; 
  }
}
.f-icon-hammer2 {
  &:before {
    content: $f-icon-hammer2; 
  }
}
.f-icon-fire {
  &:before {
    content: $f-icon-fire; 
  }
}
.f-icon-lab {
  &:before {
    content: $f-icon-lab; 
  }
}
.f-icon-magnet {
  &:before {
    content: $f-icon-magnet; 
  }
}
.f-icon-bin {
  &:before {
    content: $f-icon-bin; 
  }
}
.f-icon-bin2 {
  &:before {
    content: $f-icon-bin2; 
  }
}
.f-icon-briefcase {
  &:before {
    content: $f-icon-briefcase; 
  }
}
.f-icon-airplane {
  &:before {
    content: $f-icon-airplane; 
  }
}
.f-icon-truck {
  &:before {
    content: $f-icon-truck; 
  }
}
.f-icon-road {
  &:before {
    content: $f-icon-road; 
  }
}
.f-icon-accessibility {
  &:before {
    content: $f-icon-accessibility; 
  }
}
.f-icon-target {
  &:before {
    content: $f-icon-target; 
  }
}
.f-icon-shield {
  &:before {
    content: $f-icon-shield; 
  }
}
.f-icon-power {
  &:before {
    content: $f-icon-power; 
  }
}
.f-icon-switch {
  &:before {
    content: $f-icon-switch; 
  }
}
.f-icon-power-cord {
  &:before {
    content: $f-icon-power-cord; 
  }
}
.f-icon-clipboard {
  &:before {
    content: $f-icon-clipboard; 
  }
}
.f-icon-list-numbered {
  &:before {
    content: $f-icon-list-numbered; 
  }
}
.f-icon-list {
  &:before {
    content: $f-icon-list; 
  }
}
.f-icon-list2 {
  &:before {
    content: $f-icon-list2; 
  }
}
.f-icon-tree {
  &:before {
    content: $f-icon-tree; 
  }
}
.f-icon-menu {
  &:before {
    content: $f-icon-menu; 
  }
}
.f-icon-menu2 {
  &:before {
    content: $f-icon-menu2; 
  }
}
.f-icon-menu3 {
  &:before {
    content: $f-icon-menu3; 
  }
}
.f-icon-menu4 {
  &:before {
    content: $f-icon-menu4; 
  }
}
.f-icon-cloud {
  &:before {
    content: $f-icon-cloud; 
  }
}
.f-icon-cloud-download {
  &:before {
    content: $f-icon-cloud-download; 
  }
}
.f-icon-cloud-upload {
  &:before {
    content: $f-icon-cloud-upload; 
  }
}
.f-icon-cloud-check {
  &:before {
    content: $f-icon-cloud-check; 
  }
}
.f-icon-download2 {
  &:before {
    content: $f-icon-download2; 
  }
}
.f-icon-upload2 {
  &:before {
    content: $f-icon-upload2; 
  }
}
.f-icon-download3 {
  &:before {
    content: $f-icon-download3; 
  }
}
.f-icon-upload3 {
  &:before {
    content: $f-icon-upload3; 
  }
}
.f-icon-sphere {
  &:before {
    content: $f-icon-sphere; 
  }
}
.f-icon-earth {
  &:before {
    content: $f-icon-earth; 
  }
}
.f-icon-link {
  &:before {
    content: $f-icon-link; 
  }
}
.f-icon-flag {
  &:before {
    content: $f-icon-flag; 
  }
}
.f-icon-attachment {
  &:before {
    content: $f-icon-attachment; 
  }
}
.f-icon-eye {
  &:before {
    content: $f-icon-eye; 
  }
}
.f-icon-eye-plus {
  &:before {
    content: $f-icon-eye-plus; 
  }
}
.f-icon-eye-minus {
  &:before {
    content: $f-icon-eye-minus; 
  }
}
.f-icon-eye-blocked {
  &:before {
    content: $f-icon-eye-blocked; 
  }
}
.f-icon-bookmark {
  &:before {
    content: $f-icon-bookmark; 
  }
}
.f-icon-bookmarks {
  &:before {
    content: $f-icon-bookmarks; 
  }
}
.f-icon-sun {
  &:before {
    content: $f-icon-sun; 
  }
}
.f-icon-contrast {
  &:before {
    content: $f-icon-contrast; 
  }
}
.f-icon-brightness-contrast {
  &:before {
    content: $f-icon-brightness-contrast; 
  }
}
.f-icon-star-empty {
  &:before {
    content: $f-icon-star-empty; 
  }
}
.f-icon-star-half {
  &:before {
    content: $f-icon-star-half; 
  }
}
.f-icon-star-full {
  &:before {
    content: $f-icon-star-full; 
  }
}
.f-icon-heart {
  &:before {
    content: $f-icon-heart; 
  }
}
.f-icon-heart-broken {
  &:before {
    content: $f-icon-heart-broken; 
  }
}
.f-icon-man {
  &:before {
    content: $f-icon-man; 
  }
}
.f-icon-woman {
  &:before {
    content: $f-icon-woman; 
  }
}
.f-icon-man-woman {
  &:before {
    content: $f-icon-man-woman; 
  }
}
.f-icon-happy {
  &:before {
    content: $f-icon-happy; 
  }
}
.f-icon-happy2 {
  &:before {
    content: $f-icon-happy2; 
  }
}
.f-icon-smile {
  &:before {
    content: $f-icon-smile; 
  }
}
.f-icon-smile2 {
  &:before {
    content: $f-icon-smile2; 
  }
}
.f-icon-tongue {
  &:before {
    content: $f-icon-tongue; 
  }
}
.f-icon-tongue2 {
  &:before {
    content: $f-icon-tongue2; 
  }
}
.f-icon-sad {
  &:before {
    content: $f-icon-sad; 
  }
}
.f-icon-sad2 {
  &:before {
    content: $f-icon-sad2; 
  }
}
.f-icon-wink {
  &:before {
    content: $f-icon-wink; 
  }
}
.f-icon-wink2 {
  &:before {
    content: $f-icon-wink2; 
  }
}
.f-icon-grin {
  &:before {
    content: $f-icon-grin; 
  }
}
.f-icon-grin2 {
  &:before {
    content: $f-icon-grin2; 
  }
}
.f-icon-cool {
  &:before {
    content: $f-icon-cool; 
  }
}
.f-icon-cool2 {
  &:before {
    content: $f-icon-cool2; 
  }
}
.f-icon-angry {
  &:before {
    content: $f-icon-angry; 
  }
}
.f-icon-angry2 {
  &:before {
    content: $f-icon-angry2; 
  }
}
.f-icon-evil {
  &:before {
    content: $f-icon-evil; 
  }
}
.f-icon-evil2 {
  &:before {
    content: $f-icon-evil2; 
  }
}
.f-icon-shocked {
  &:before {
    content: $f-icon-shocked; 
  }
}
.f-icon-shocked2 {
  &:before {
    content: $f-icon-shocked2; 
  }
}
.f-icon-baffled {
  &:before {
    content: $f-icon-baffled; 
  }
}
.f-icon-baffled2 {
  &:before {
    content: $f-icon-baffled2; 
  }
}
.f-icon-confused {
  &:before {
    content: $f-icon-confused; 
  }
}
.f-icon-confused2 {
  &:before {
    content: $f-icon-confused2; 
  }
}
.f-icon-neutral {
  &:before {
    content: $f-icon-neutral; 
  }
}
.f-icon-neutral2 {
  &:before {
    content: $f-icon-neutral2; 
  }
}
.f-icon-hipster {
  &:before {
    content: $f-icon-hipster; 
  }
}
.f-icon-hipster2 {
  &:before {
    content: $f-icon-hipster2; 
  }
}
.f-icon-wondering {
  &:before {
    content: $f-icon-wondering; 
  }
}
.f-icon-wondering2 {
  &:before {
    content: $f-icon-wondering2; 
  }
}
.f-icon-sleepy {
  &:before {
    content: $f-icon-sleepy; 
  }
}
.f-icon-sleepy2 {
  &:before {
    content: $f-icon-sleepy2; 
  }
}
.f-icon-frustrated {
  &:before {
    content: $f-icon-frustrated; 
  }
}
.f-icon-frustrated2 {
  &:before {
    content: $f-icon-frustrated2; 
  }
}
.f-icon-crying {
  &:before {
    content: $f-icon-crying; 
  }
}
.f-icon-crying2 {
  &:before {
    content: $f-icon-crying2; 
  }
}
.f-icon-point-up {
  &:before {
    content: $f-icon-point-up; 
  }
}
.f-icon-point-right {
  &:before {
    content: $f-icon-point-right; 
  }
}
.f-icon-point-down {
  &:before {
    content: $f-icon-point-down; 
  }
}
.f-icon-point-left {
  &:before {
    content: $f-icon-point-left; 
  }
}
.f-icon-warning {
  &:before {
    content: $f-icon-warning; 
  }
}
.f-icon-notification {
  &:before {
    content: $f-icon-notification; 
  }
}
.f-icon-question {
  &:before {
    content: $f-icon-question; 
  }
}
.f-icon-plus {
  &:before {
    content: $f-icon-plus; 
  }
}
.f-icon-minus {
  &:before {
    content: $f-icon-minus; 
  }
}
.f-icon-info {
  &:before {
    content: $f-icon-info; 
  }
}
.f-icon-cancel-circle {
  &:before {
    content: $f-icon-cancel-circle; 
  }
}
.f-icon-blocked {
  &:before {
    content: $f-icon-blocked; 
  }
}
.f-icon-cross {
  &:before {
    content: $f-icon-cross; 
  }
}
.f-icon-checkmark {
  &:before {
    content: $f-icon-checkmark; 
  }
}
.f-icon-checkmark2 {
  &:before {
    content: $f-icon-checkmark2; 
  }
}
.f-icon-spell-check {
  &:before {
    content: $f-icon-spell-check; 
  }
}
.f-icon-enter {
  &:before {
    content: $f-icon-enter; 
  }
}
.f-icon-exit {
  &:before {
    content: $f-icon-exit; 
  }
}
.f-icon-play2 {
  &:before {
    content: $f-icon-play2; 
  }
}
.f-icon-pause {
  &:before {
    content: $f-icon-pause; 
  }
}
.f-icon-stop {
  &:before {
    content: $f-icon-stop; 
  }
}
.f-icon-previous {
  &:before {
    content: $f-icon-previous; 
  }
}
.f-icon-next {
  &:before {
    content: $f-icon-next; 
  }
}
.f-icon-backward {
  &:before {
    content: $f-icon-backward; 
  }
}
.f-icon-forward2 {
  &:before {
    content: $f-icon-forward2; 
  }
}
.f-icon-play3 {
  &:before {
    content: $f-icon-play3; 
  }
}
.f-icon-pause2 {
  &:before {
    content: $f-icon-pause2; 
  }
}
.f-icon-stop2 {
  &:before {
    content: $f-icon-stop2; 
  }
}
.f-icon-backward2 {
  &:before {
    content: $f-icon-backward2; 
  }
}
.f-icon-forward3 {
  &:before {
    content: $f-icon-forward3; 
  }
}
.f-icon-first {
  &:before {
    content: $f-icon-first; 
  }
}
.f-icon-last {
  &:before {
    content: $f-icon-last; 
  }
}
.f-icon-previous2 {
  &:before {
    content: $f-icon-previous2; 
  }
}
.f-icon-next2 {
  &:before {
    content: $f-icon-next2; 
  }
}
.f-icon-eject {
  &:before {
    content: $f-icon-eject; 
  }
}
.f-icon-volume-high {
  &:before {
    content: $f-icon-volume-high; 
  }
}
.f-icon-volume-medium {
  &:before {
    content: $f-icon-volume-medium; 
  }
}
.f-icon-volume-low {
  &:before {
    content: $f-icon-volume-low; 
  }
}
.f-icon-volume-mute {
  &:before {
    content: $f-icon-volume-mute; 
  }
}
.f-icon-volume-mute2 {
  &:before {
    content: $f-icon-volume-mute2; 
  }
}
.f-icon-volume-increase {
  &:before {
    content: $f-icon-volume-increase; 
  }
}
.f-icon-volume-decrease {
  &:before {
    content: $f-icon-volume-decrease; 
  }
}
.f-icon-loop {
  &:before {
    content: $f-icon-loop; 
  }
}
.f-icon-loop2 {
  &:before {
    content: $f-icon-loop2; 
  }
}
.f-icon-infinite {
  &:before {
    content: $f-icon-infinite; 
  }
}
.f-icon-shuffle {
  &:before {
    content: $f-icon-shuffle; 
  }
}
.f-icon-arrow-up-left {
  &:before {
    content: $f-icon-arrow-up-left; 
  }
}
.f-icon-arrow-up {
  &:before {
    content: $f-icon-arrow-up; 
  }
}
.f-icon-arrow-up-right {
  &:before {
    content: $f-icon-arrow-up-right; 
  }
}
.f-icon-arrow-right {
  &:before {
    content: $f-icon-arrow-right; 
  }
}
.f-icon-arrow-down-right {
  &:before {
    content: $f-icon-arrow-down-right; 
  }
}
.f-icon-arrow-down {
  &:before {
    content: $f-icon-arrow-down; 
  }
}
.f-icon-arrow-down-left {
  &:before {
    content: $f-icon-arrow-down-left; 
  }
}
.f-icon-arrow-left {
  &:before {
    content: $f-icon-arrow-left; 
  }
}
.f-icon-arrow-up-left2 {
  &:before {
    content: $f-icon-arrow-up-left2; 
  }
}
.f-icon-arrow-up2 {
  &:before {
    content: $f-icon-arrow-up2; 
  }
}
.f-icon-arrow-up-right2 {
  &:before {
    content: $f-icon-arrow-up-right2; 
  }
}
.f-icon-arrow-right2 {
  &:before {
    content: $f-icon-arrow-right2; 
  }
}
.f-icon-arrow-down-right2 {
  &:before {
    content: $f-icon-arrow-down-right2; 
  }
}
.f-icon-arrow-down2 {
  &:before {
    content: $f-icon-arrow-down2; 
  }
}
.f-icon-arrow-down-left2 {
  &:before {
    content: $f-icon-arrow-down-left2; 
  }
}
.f-icon-arrow-left2 {
  &:before {
    content: $f-icon-arrow-left2; 
  }
}
.f-icon-circle-up {
  &:before {
    content: $f-icon-circle-up; 
  }
}
.f-icon-circle-right {
  &:before {
    content: $f-icon-circle-right; 
  }
}
.f-icon-circle-down {
  &:before {
    content: $f-icon-circle-down; 
  }
}
.f-icon-circle-left {
  &:before {
    content: $f-icon-circle-left; 
  }
}
.f-icon-tab {
  &:before {
    content: $f-icon-tab; 
  }
}
.f-icon-move-up {
  &:before {
    content: $f-icon-move-up; 
  }
}
.f-icon-move-down {
  &:before {
    content: $f-icon-move-down; 
  }
}
.f-icon-sort-alpha-asc {
  &:before {
    content: $f-icon-sort-alpha-asc; 
  }
}
.f-icon-sort-alpha-desc {
  &:before {
    content: $f-icon-sort-alpha-desc; 
  }
}
.f-icon-sort-numeric-asc {
  &:before {
    content: $f-icon-sort-numeric-asc; 
  }
}
.f-icon-sort-numberic-desc {
  &:before {
    content: $f-icon-sort-numberic-desc; 
  }
}
.f-icon-sort-amount-asc {
  &:before {
    content: $f-icon-sort-amount-asc; 
  }
}
.f-icon-sort-amount-desc {
  &:before {
    content: $f-icon-sort-amount-desc; 
  }
}
.f-icon-command {
  &:before {
    content: $f-icon-command; 
  }
}
.f-icon-shift {
  &:before {
    content: $f-icon-shift; 
  }
}
.f-icon-ctrl {
  &:before {
    content: $f-icon-ctrl; 
  }
}
.f-icon-opt {
  &:before {
    content: $f-icon-opt; 
  }
}
.f-icon-checkbox-checked {
  &:before {
    content: $f-icon-checkbox-checked; 
  }
}
.f-icon-checkbox-unchecked {
  &:before {
    content: $f-icon-checkbox-unchecked; 
  }
}
.f-icon-radio-checked {
  &:before {
    content: $f-icon-radio-checked; 
  }
}
.f-icon-radio-checked2 {
  &:before {
    content: $f-icon-radio-checked2; 
  }
}
.f-icon-radio-unchecked {
  &:before {
    content: $f-icon-radio-unchecked; 
  }
}
.f-icon-crop {
  &:before {
    content: $f-icon-crop; 
  }
}
.f-icon-make-group {
  &:before {
    content: $f-icon-make-group; 
  }
}
.f-icon-ungroup {
  &:before {
    content: $f-icon-ungroup; 
  }
}
.f-icon-scissors {
  &:before {
    content: $f-icon-scissors; 
  }
}
.f-icon-filter {
  &:before {
    content: $f-icon-filter; 
  }
}
.f-icon-font {
  &:before {
    content: $f-icon-font; 
  }
}
.f-icon-ligature {
  &:before {
    content: $f-icon-ligature; 
  }
}
.f-icon-ligature2 {
  &:before {
    content: $f-icon-ligature2; 
  }
}
.f-icon-text-height {
  &:before {
    content: $f-icon-text-height; 
  }
}
.f-icon-text-width {
  &:before {
    content: $f-icon-text-width; 
  }
}
.f-icon-font-size {
  &:before {
    content: $f-icon-font-size; 
  }
}
.f-icon-bold {
  &:before {
    content: $f-icon-bold; 
  }
}
.f-icon-underline {
  &:before {
    content: $f-icon-underline; 
  }
}
.f-icon-italic {
  &:before {
    content: $f-icon-italic; 
  }
}
.f-icon-strikethrough {
  &:before {
    content: $f-icon-strikethrough; 
  }
}
.f-icon-omega {
  &:before {
    content: $f-icon-omega; 
  }
}
.f-icon-sigma {
  &:before {
    content: $f-icon-sigma; 
  }
}
.f-icon-page-break {
  &:before {
    content: $f-icon-page-break; 
  }
}
.f-icon-superscript {
  &:before {
    content: $f-icon-superscript; 
  }
}
.f-icon-subscript {
  &:before {
    content: $f-icon-subscript; 
  }
}
.f-icon-superscript2 {
  &:before {
    content: $f-icon-superscript2; 
  }
}
.f-icon-subscript2 {
  &:before {
    content: $f-icon-subscript2; 
  }
}
.f-icon-text-color {
  &:before {
    content: $f-icon-text-color; 
  }
}
.f-icon-pagebreak {
  &:before {
    content: $f-icon-pagebreak; 
  }
}
.f-icon-clear-formatting {
  &:before {
    content: $f-icon-clear-formatting; 
  }
}
.f-icon-table {
  &:before {
    content: $f-icon-table; 
  }
}
.f-icon-table2 {
  &:before {
    content: $f-icon-table2; 
  }
}
.f-icon-insert-template {
  &:before {
    content: $f-icon-insert-template; 
  }
}
.f-icon-pilcrow {
  &:before {
    content: $f-icon-pilcrow; 
  }
}
.f-icon-ltr {
  &:before {
    content: $f-icon-ltr; 
  }
}
.f-icon-rtl {
  &:before {
    content: $f-icon-rtl; 
  }
}
.f-icon-section {
  &:before {
    content: $f-icon-section; 
  }
}
.f-icon-paragraph-left {
  &:before {
    content: $f-icon-paragraph-left; 
  }
}
.f-icon-paragraph-center {
  &:before {
    content: $f-icon-paragraph-center; 
  }
}
.f-icon-paragraph-right {
  &:before {
    content: $f-icon-paragraph-right; 
  }
}
.f-icon-paragraph-justify {
  &:before {
    content: $f-icon-paragraph-justify; 
  }
}
.f-icon-indent-increase {
  &:before {
    content: $f-icon-indent-increase; 
  }
}
.f-icon-indent-decrease {
  &:before {
    content: $f-icon-indent-decrease; 
  }
}
.f-icon-share {
  &:before {
    content: $f-icon-share; 
  }
}
.f-icon-new-tab {
  &:before {
    content: $f-icon-new-tab; 
  }
}
.f-icon-embed {
  &:before {
    content: $f-icon-embed; 
  }
}
.f-icon-embed2 {
  &:before {
    content: $f-icon-embed2; 
  }
}
.f-icon-terminal {
  &:before {
    content: $f-icon-terminal; 
  }
}
.f-icon-share2 {
  &:before {
    content: $f-icon-share2; 
  }
}
.f-icon-mail {
  &:before {
    content: $f-icon-mail; 
  }
}
.f-icon-mail2 {
  &:before {
    content: $f-icon-mail2; 
  }
}
.f-icon-mail3 {
  &:before {
    content: $f-icon-mail3; 
  }
}
.f-icon-mail4 {
  &:before {
    content: $f-icon-mail4; 
  }
}
.f-icon-amazon {
  &:before {
    content: $f-icon-amazon; 
  }
}
.f-icon-google {
  &:before {
    content: $f-icon-google; 
  }
}
.f-icon-google2 {
  &:before {
    content: $f-icon-google2; 
  }
}
.f-icon-google3 {
  &:before {
    content: $f-icon-google3; 
  }
}
.f-icon-google-plus {
  &:before {
    content: $f-icon-google-plus; 
  }
}
.f-icon-google-plus2 {
  &:before {
    content: $f-icon-google-plus2; 
  }
}
.f-icon-google-plus3 {
  &:before {
    content: $f-icon-google-plus3; 
  }
}
.f-icon-hangouts {
  &:before {
    content: $f-icon-hangouts; 
  }
}
.f-icon-google-drive {
  &:before {
    content: $f-icon-google-drive; 
  }
}
.f-icon-facebook {
  &:before {
    content: $f-icon-facebook; 
  }
}
.f-icon-facebook2 {
  &:before {
    content: $f-icon-facebook2; 
  }
}
.f-icon-instagram {
  &:before {
    content: $f-icon-instagram; 
  }
}
.f-icon-whatsapp {
  &:before {
    content: $f-icon-whatsapp; 
  }
}
.f-icon-spotify {
  &:before {
    content: $f-icon-spotify; 
  }
}
.f-icon-telegram {
  &:before {
    content: $f-icon-telegram; 
  }
}
.f-icon-twitter {
  &:before {
    content: $f-icon-twitter; 
  }
}
.f-icon-vine {
  &:before {
    content: $f-icon-vine; 
  }
}
.f-icon-vk {
  &:before {
    content: $f-icon-vk; 
  }
}
.f-icon-renren {
  &:before {
    content: $f-icon-renren; 
  }
}
.f-icon-sina-weibo {
  &:before {
    content: $f-icon-sina-weibo; 
  }
}
.f-icon-rss {
  &:before {
    content: $f-icon-rss; 
  }
}
.f-icon-rss2 {
  &:before {
    content: $f-icon-rss2; 
  }
}
.f-icon-youtube {
  &:before {
    content: $f-icon-youtube; 
  }
}
.f-icon-youtube2 {
  &:before {
    content: $f-icon-youtube2; 
  }
}
.f-icon-twitch {
  &:before {
    content: $f-icon-twitch; 
  }
}
.f-icon-vimeo {
  &:before {
    content: $f-icon-vimeo; 
  }
}
.f-icon-vimeo2 {
  &:before {
    content: $f-icon-vimeo2; 
  }
}
.f-icon-lanyrd {
  &:before {
    content: $f-icon-lanyrd; 
  }
}
.f-icon-flickr {
  &:before {
    content: $f-icon-flickr; 
  }
}
.f-icon-flickr2 {
  &:before {
    content: $f-icon-flickr2; 
  }
}
.f-icon-flickr3 {
  &:before {
    content: $f-icon-flickr3; 
  }
}
.f-icon-flickr4 {
  &:before {
    content: $f-icon-flickr4; 
  }
}
.f-icon-dribbble {
  &:before {
    content: $f-icon-dribbble; 
  }
}
.f-icon-behance {
  &:before {
    content: $f-icon-behance; 
  }
}
.f-icon-behance2 {
  &:before {
    content: $f-icon-behance2; 
  }
}
.f-icon-deviantart {
  &:before {
    content: $f-icon-deviantart; 
  }
}
.f-icon-500px {
  &:before {
    content: $f-icon-500px; 
  }
}
.f-icon-steam {
  &:before {
    content: $f-icon-steam; 
  }
}
.f-icon-steam2 {
  &:before {
    content: $f-icon-steam2; 
  }
}
.f-icon-dropbox {
  &:before {
    content: $f-icon-dropbox; 
  }
}
.f-icon-onedrive {
  &:before {
    content: $f-icon-onedrive; 
  }
}
.f-icon-github {
  &:before {
    content: $f-icon-github; 
  }
}
.f-icon-npm {
  &:before {
    content: $f-icon-npm; 
  }
}
.f-icon-basecamp {
  &:before {
    content: $f-icon-basecamp; 
  }
}
.f-icon-trello {
  &:before {
    content: $f-icon-trello; 
  }
}
.f-icon-wordpress {
  &:before {
    content: $f-icon-wordpress; 
  }
}
.f-icon-joomla {
  &:before {
    content: $f-icon-joomla; 
  }
}
.f-icon-ello {
  &:before {
    content: $f-icon-ello; 
  }
}
.f-icon-blogger {
  &:before {
    content: $f-icon-blogger; 
  }
}
.f-icon-blogger2 {
  &:before {
    content: $f-icon-blogger2; 
  }
}
.f-icon-tumblr {
  &:before {
    content: $f-icon-tumblr; 
  }
}
.f-icon-tumblr2 {
  &:before {
    content: $f-icon-tumblr2; 
  }
}
.f-icon-yahoo {
  &:before {
    content: $f-icon-yahoo; 
  }
}
.f-icon-yahoo2 {
  &:before {
    content: $f-icon-yahoo2; 
  }
}
.f-icon-tux {
  &:before {
    content: $f-icon-tux; 
  }
}
.f-icon-appleinc {
  &:before {
    content: $f-icon-appleinc; 
  }
}
.f-icon-finder {
  &:before {
    content: $f-icon-finder; 
  }
}
.f-icon-android {
  &:before {
    content: $f-icon-android; 
  }
}
.f-icon-windows {
  &:before {
    content: $f-icon-windows; 
  }
}
.f-icon-windows8 {
  &:before {
    content: $f-icon-windows8; 
  }
}
.f-icon-soundcloud {
  &:before {
    content: $f-icon-soundcloud; 
  }
}
.f-icon-soundcloud2 {
  &:before {
    content: $f-icon-soundcloud2; 
  }
}
.f-icon-skype {
  &:before {
    content: $f-icon-skype; 
  }
}
.f-icon-reddit {
  &:before {
    content: $f-icon-reddit; 
  }
}
.f-icon-hackernews {
  &:before {
    content: $f-icon-hackernews; 
  }
}
.f-icon-wikipedia {
  &:before {
    content: $f-icon-wikipedia; 
  }
}
.f-icon-linkedin {
  &:before {
    content: $f-icon-linkedin; 
  }
}
.f-icon-linkedin2 {
  &:before {
    content: $f-icon-linkedin2; 
  }
}
.f-icon-lastfm {
  &:before {
    content: $f-icon-lastfm; 
  }
}
.f-icon-lastfm2 {
  &:before {
    content: $f-icon-lastfm2; 
  }
}
.f-icon-delicious {
  &:before {
    content: $f-icon-delicious; 
  }
}
.f-icon-stumbleupon {
  &:before {
    content: $f-icon-stumbleupon; 
  }
}
.f-icon-stumbleupon2 {
  &:before {
    content: $f-icon-stumbleupon2; 
  }
}
.f-icon-stackoverflow {
  &:before {
    content: $f-icon-stackoverflow; 
  }
}
.f-icon-pinterest {
  &:before {
    content: $f-icon-pinterest; 
  }
}
.f-icon-pinterest2 {
  &:before {
    content: $f-icon-pinterest2; 
  }
}
.f-icon-xing {
  &:before {
    content: $f-icon-xing; 
  }
}
.f-icon-xing2 {
  &:before {
    content: $f-icon-xing2; 
  }
}
.f-icon-flattr {
  &:before {
    content: $f-icon-flattr; 
  }
}
.f-icon-foursquare {
  &:before {
    content: $f-icon-foursquare; 
  }
}
.f-icon-yelp {
  &:before {
    content: $f-icon-yelp; 
  }
}
.f-icon-paypal {
  &:before {
    content: $f-icon-paypal; 
  }
}
.f-icon-chrome {
  &:before {
    content: $f-icon-chrome; 
  }
}
.f-icon-firefox {
  &:before {
    content: $f-icon-firefox; 
  }
}
.f-icon-IE {
  &:before {
    content: $f-icon-IE; 
  }
}
.f-icon-edge {
  &:before {
    content: $f-icon-edge; 
  }
}
.f-icon-safari {
  &:before {
    content: $f-icon-safari; 
  }
}
.f-icon-opera {
  &:before {
    content: $f-icon-opera; 
  }
}
.f-icon-file-pdf {
  &:before {
    content: $f-icon-file-pdf; 
  }
}
.f-icon-file-openoffice {
  &:before {
    content: $f-icon-file-openoffice; 
  }
}
.f-icon-file-word {
  &:before {
    content: $f-icon-file-word; 
  }
}
.f-icon-file-excel {
  &:before {
    content: $f-icon-file-excel; 
  }
}
.f-icon-libreoffice {
  &:before {
    content: $f-icon-libreoffice; 
  }
}
.f-icon-html-five {
  &:before {
    content: $f-icon-html-five; 
  }
}
.f-icon-html-five2 {
  &:before {
    content: $f-icon-html-five2; 
  }
}
.f-icon-css3 {
  &:before {
    content: $f-icon-css3; 
  }
}
.f-icon-git {
  &:before {
    content: $f-icon-git; 
  }
}
.f-icon-codepen {
  &:before {
    content: $f-icon-codepen; 
  }
}
.f-icon-svg {
  &:before {
    content: $f-icon-svg; 
  }
}
.f-icon-IcoMoon {
  &:before {
    content: $f-icon-IcoMoon; 
  }
}

