@mixin inner-glow-deep {
	$blur: 4px; 
	$size: 5px;

	-webkit-box-shadow: 0px 0px $blur $size rgba(34, 60, 80, 0.2) inset;
	-moz-box-shadow: 0px 0px $blur $size rgba(34, 60, 80, 0.2) inset;
	box-shadow: 0px 0px $blur $size rgba(34, 60, 80, 0.2) inset;
}

@mixin inner-glow {
	$blur: 3px; 
	$size: 5px;

	-webkit-box-shadow: 0px 0px $blur $size rgba(34, 60, 80, 0.2) inset;
	-moz-box-shadow: 0px 0px $blur $size rgba(34, 60, 80, 0.2) inset;
	box-shadow: 0px 0px $blur $size rgba(34, 60, 80, 0.2) inset;
}

@mixin inner-glow-base {
	$blur: 1px;
	$size: 3px;

	-webkit-box-shadow: 0px 0px $blur $size rgba(34, 60, 80, 0.2) inset;
	-moz-box-shadow: 0px 0px $blur $size rgba(34, 60, 80, 0.2) inset;
	box-shadow: 0px 0px $blur $size rgba(34, 60, 80, 0.2) inset;
}