
.mapContainer {
    position: relative;
    width: 100%;
    height: 100%;

    &__map {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__controls {
        display: flex;
        justify-content: end;
        align-items: flex-end;
        position: absolute;
        bottom: 0;
        right: 0;

        width: 30%;
        height: 30px;
        margin: 7px;

        .ol-control-custom {
            &.ol-zoom-in, &.ol-zoom-out {
                cursor: pointer;
                position: relative;
                font-size: 18pt;
                margin-left: 7px;
                padding: 3pt;
                border: none;

                background-color: rgba(255, 255, 255, .8);
                transition: .15s;

                &:hover {
                    transform: scale(1.1);
                }

                box-shadow: 0 0 5px 2px rgba(0,0,0,0.75);
                -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.75);
                -moz-box-shadow: 0 0 5px 2px rgba(0,0,0,0.75);
            }
        }
    }
}

